

colorspace.egg-info
__pycache__
/dist
/htmlcov

# Test files and folders
/test*

# Some development folders
/htmlcov
/coverage.xml
/build
/venv

# pyp2qmd testing
/make_doc_test.py

# Testing
.coverage
colorspace/htmlcov

*/*.pyc
*/*/*.pyc
*.swp

# Development test files
/test.py
/*.png
