

colorspace.egg-info
__pycache__
/docs

# Some development folders
/htmlcov
/build
/venv3


# Testing
.coverage
colorspace/htmlcov

*/*.pyc
*/*/*.pyc
*.swp

# Development test files
/xxx.py
/test.py
/foo.py
/lighten.py
/plot.py
/*.png
