

colorspace.egg-info
__pycache__
/dist
/coverage

# Some development folders
/htmlcov
/build
/venv

# pyp2qmd testing
/makedocs.py
/make_doc_test.py
/_quarto

# Testing
.coverage
colorspace/htmlcov

*/*.pyc
*/*/*.pyc
*.swp

# Development test files
/test.py
/*.png
