pytest
pytest-mpl
coverage
docutils==0.17.1
ipython==8.0.1
imageio==2.16.1
matplotlib==3.5.1
numpy==1.22.2
pandas==1.4.1
statsmodels==0.13.2
Pillow==9.0.1
Sphinx==4.4.0
sphinx-bootstrap-theme
sphinxcontrib-bibtex==2.4.1
sphinxcontrib-jsmath==1.0.1
