
/*-- scss:defaults --*/
// @see: https://quarto.org/docs/output-formats/html-themes.html
$navbar-bg: #e7e7e7;
$navbar-hl: #da57a7;

$primary: #3f7cad;
$link-color: #3f7cad;
$link-color-hover: #da57a7;

/*-- scss:custom --*/
a {
    &:hover {
        color: $link-color-hover;
    }
}

// Custom img-padding-tb class to add
// padding top and bottom to give it a bit more room.
.quarto-figure {
    figure {
        img {
            &.img-padding-tb {
                padding: 2em 0;
            }
        }
    }
}

