

.container-fluid pre {
    border: 1px solid black;
    padding: 10px;
    border-color: #c5cdd2;
    background-color: #f1f3f4;
    overflow: hidden;
}
.container-fluid pre.sourceCode.python {
    background-color: #eaf5fb;
    border-color: #abd5f0;
}
.container-fluid pre code {
    background: none;
    white-space: pre;
    border: none;
    padding: 0;
    color: gray;
}
.container-fluid pre code.sourceCode.python {
    /*color: black;*/
    color: #04639f;
}
