

.cscode {
    border: 1px solid #e3e3e3;
    padding: 10px;
}

.cscode, .cscode comment, .cscode p {
    font-family: Courier New, Lucida Console, Monospace, sans-serif;
}

/* Comments */
.cscode comment {
    font-size: 1em !important;
    line-height: 1em;
    color: #A8A8A8;
    font-weight: normal;
    text-decoration: none;
}
.cscode comment:before {
    content: "#";
}
pre.python code { color red; }
code {
    white-space: pre !important;
    padding: 0px !important;
    border: none !important;
}
