
/* Changing font */
body {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
    font-family: 'Roboto', sans-serif;
}
div.content { line-height: 1.7em; }
div.content img { margin: 3em auto; }

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1em; }

code {
    padding: 0 .25em;
}

form.navbar-form {
    display: none;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #F8F8F8;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: #E94C6F;
}

a, a:hover, a:focus {
    color: #E94C6F;
}

/* Show number in references */
.label { color: black; }

/* Stying of API doc */
div.container div.section {
    padding-top: 2em;
}
dt:target, span.highlighted {
    margin: .3em;
    background-color: #fde937;
}

/* Less line-height for inline code */
div.highlight pre { line-height: 1em; }

